[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-hydrogen
Exec=sailfish-qml harbour-hydrogen %u
Name=hydrogen
MimeType=x-url-handler/matrix.to;x-scheme-handler:matrix;
X-DBusActivatable=true
[X-Sailjail]
Permissions=Internet;UserDirs;RemovableMedia;Audio;MediaIndexing
OrganizationName=org.github.hydrogen-sailfishos.harbour-hydrogen
ApplicationName=hydrogen
