[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-hydrogen
Exec=sailfish-qml harbour-hydrogen
Name=hydrogen
[X-Sailjail]
Permissions=Internet;UserDirs;RemovableMedia;Audio;MediaIndexing
OrganizationName=org.github.thigg.harbour-hydrogen
ApplicationName=hydrogen
